<div class="container">
  <h4>Product Gallery</h4>
  <ol class="products">
    <li *ngFor="let album of albums">
      <div class="item-list">
        <h2 class="title">{{ album.title }}</h2>
        <div class="album-image">
          <a href="{{ album.images[0] }}" title="{{ album.title }}">
            <img
              src="{{ album.thumbnail }}"
              [ngStyle]="{
                'height.em': album.dimensions.height,
                'width.em': album.dimensions.width
              }"
            />
          </a>
        </div>
        <span class="desc">
          {{ album.description }}
        </span>
      </div>
    </li>
  </ol>
</div>
